{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Type</th>
      <th scope="col">Brand / Model</th>
      <th scope="col">Colour</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     {% for product in electronics %}
    <tr>     
    <th scope="row">{{product.id}}</th>
      <td>{{product.type}}</td>
      <td><a href='{{ url_for("one_product", id=product.id) }}'>{{ product['brand-model'] }}</a></td>
      <td>{{product.colour}}</td>
      <td><a href='{{ url_for("modify_product", id=product.id) }}'><button class="btn btn-info">Modify</button></a></td>
      <td><a href='{{ url_for("delete", id=product.id) }}'><button class="btn btn-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
    <!-- <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr> -->
  </tbody>
</table>
{% endblock %}
